/**
 * Basic typography
 */
body { color: #222; background: transparent; font-family: "Deja vu sans",
	   "Helvetica Neue", Arial, Helvetica, sans-serif; }

h1, h2, h3, h4, h5, h6 { font-weight: bold; color: #333; margin: 0 0 0.25em;
                         line-height: 1.25em; }

h1 { font-size: 2.5em; line-height: 1em; }
h2 { font-size: 2em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1em; }

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img { margin: 0px; }

/**
 * Basic layout, and probably the most specific style you will find
 */
#branding { width: 30%; display: inline-block; float: right; border-left: 1px solid #DDD; padding: 0.5em 0 0.5em 3.5%; }
nav#top { width: 65%; display: inline-block; text-align: right; vertical-align:top; padding-top: 0.75em; margin-top: 1.2em; }

/**
 * Toolbar
 */
.toolbar nav a i { margin-right: 0.5em; }
.toolbar nav .dropdown:hover .dropdown-menu {
	display: block;
}
.toolbar form { display: inline; }
.toolbar .dropdown-menu li > form > input[type="submit"] { background: none; border: none; cursor: pointer;
                                    display: block; padding: 3px 15px; clear: both;
                                    font-weight: normal; line-height: 18px; color: #333333;
                                    white-space: nowrap; width: 100%; text-align: left;}

.toolbar .dropdown-menu li > form > input:hover,
.toolbar .dropdown-menu .active > form > input[type="submit"],
.toolbar .dropdown-menu .active > form > input[type="submit"]:hover {
    color: #ffffff; text-decoration: none; background-color: #0088cc; }
/**
 * Usefull for those times when you need a shortcut
 */
.clear { clear: both; height: 1px; margin: -1px 0 0; padding: 0px; line-height: 1px; }

/**
 * Compability with for those who feel they don't css3 selectors, we will use this concistently
 * through the templates anyway
 */
.first { margin-left: 0; padding-left: 0; }
.last { margin-right: 0; padding-right: 0; }
.top { margin-top: 0; padding-top: 0; }
.bottom { margin-bottom: 0; padding-bottom: 0; }

/**
 * Navigation and links
 */
a, a:visited { text-decoration: none; color: #15C; }
a:focus, a:hover { color: #15C; text-decoration: underline;  }
.current > a, a.current { font-weight: bold;}
nav ul { list-style: none; }
nav ul li a { padding: 0 1em; }
nav#top ul { width: 100%; clear: both; margin: 0px; padding: 0px; position: relative; }
nav#top ul li { clear: right; display: inline-block; vertical-align: top; }
nav#top ul li a { text-align: center; }
nav#top ul.child { padding-top: 0.75em;position: absolute; left: 0; display: none;}
nav#top li:hover ul.child, nav#top li.current  {  }
