/* Based on the excellent work of Eric Meyer: http://meyerweb.com/eric/tools/css/reset/ 
   License: BSD License (http://www.opensource.org/licenses/bsd-license.php)

   Colors are as following:
		- body:      #333
		- link:      #15C;
		- error:     #DD4B39
		- highlight: #4D90FE
*/

html, body, div, span, applet, object, iframe,  p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, 
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, 
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, 
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%;
                           font: inherit; vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1.2; }
ol, ul { list-style: circle; padding: 0 0 0 2em;}
blockquote, q {	quotes: “ ”; }
blockquote:before, q:before { content: open-quote  }
blockquote:after, q:after { content: close-quote }
table {	border-collapse: collapse; border-spacing: 0; }

/**
 * Basic typography
 */
body { color: #222; background: transparent; font-family: "Deja vu sans", 
	   "Helvetica Neue", Arial, Helvetica, sans-serif; }

h1, h2, h3, h4, h5, h6 { font-weight: bold; color: #333; margin: 0 0 0.25em; 
                         line-height: 1.25em; }

h1 { font-size: 2.5em; line-height: 1em; }
h2 { font-size: 2em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1em; }

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img { margin: 0px; }

p { margin: 0 0 1em; line-height: 1.25em; }

pre, code, tt { font: 1em 'Deja vu sans-mono', 'andale mono', 'lucida console', 
                monospace; line-height: 1.5em; }

b, strong, .bold { font-weight: bold; }
i, em, italic, .emphasize { font-style: italic; }

/**
 * Basic layout, and probably the most specific style you will find
 */
body > * { width: 950px; margin: 2em auto 2em; }
header { margin-top: 1em; margin-bottom: 5em; }
#branding { width: 35%; display: inline-block; float: right; border-left: 1px solid #DDD; padding: 0.5em 0 0.5em 3.5%; }
nav#top { width: 60%; display: inline-block; text-align: right; vertical-align:top; padding-top: 0.75em; margin-top: 1.2em; }
footer { border-top: 1px solid #DDD; font-size: 0.9em; clear: both; }
footer p { margin: 1em 2em 0; }
section#content { clear: both; }
.has-aside aside { width: 30%; float: left; margin: 0 6% 0 0; padding: 0; }
.has-aside > * { width: 60%; padding-left: 36%; }

/**
 * Usefull for those times when you need a shortcut
 */
.clear { clear: both; height: 1px; margin: -1px 0 0; padding: 0px; line-height: 1px; }

/**
 * Compability with for those who feel they don't css3 selectors, we will use this concistently
 * through the templates anyway
 */
.first { margin-left: 0; padding-left: 0; }
.last { margin-right: 0; padding-right: 0; }
.top { margin-top: 0; padding-top: 0; }
.bottom { margin-bottom: 0; padding-bottom: 0; }

/**
 * Navigation and links
 */
a, a:visited { text-decoration: none; color: #15C; }
a:focus, a:hover { color: #15C; text-decoration: underline;  }
.current > a, a.current { font-weight: bold;}
nav ul { list-style: none; }
nav ul li { overflow: auto; clear: both; }
nav ul li a { padding: 0 1em; }
nav#top ul { width: 100%; clear: both; margin: 0px; padding: 0px; position: relative; }
nav#top ul li { clear: right; display: inline; vertical-align: top; }
nav#top ul li a { text-align: center; }
nav#top ul.child { padding-top: 0.75em;position: absolute; right: 0; display: none;}
nav#top li:hover ul.child, nav#top li.current ul.child { display: block; clear: both; width: auto;}

/**
 * Forms 
 */
label { clear: both; display: block; font-weight: bold; }
label:after { content: ':'; }
.error label, .error input[type=text], .error input[type=checkbox] { border-color: #DD4B39; 
                                                                     border-style: solid; }

select, input[type=text], 
input[type=password] { padding: 0.4em 0.4em 0.4em; 
                       margin-bottom: 0.6em; height: 1.2em; border-width: 1px; border-color: #ddd; 
                       width: 100%; outline: none; vertical-align: bottom; }

input[type=text]:hover, input[type=password]:hover { border-color: #ccc; }
input[type=text]:focus, input[type=password]:focus { border-color: #4D90FE; border-style: solid; }

/**
 * Default table style
 */
table { margin: 1em 0; border-collapse: collapse; }
tr.odd { background: #F7FBFF; }
td { padding: 0.3em 1em; }
th, td { text-align: center; vertical-align: middle; }
thead th {  font: bold .2em/2em;}
tfoot td, tfoot th { text-align: right; }
#debug th, #debug td { text-align: left; }

/**
 * Login page
 */
section#login aside { margin-top: 2.3em; }
section#login p#forgot-password { text-align: right; font-size: 0.8em; }

/**
 * Basic content style
 *
 */
.embed .image { float: left; margin: 0 2em 2em 0; }
.embed .image img { border: 2px solid #EEE !important; }
.embed hgroup > * { border-bottom: 1px solid #EEE;  }
