ul.menu { padding: 0;margin:0; list-style: none; clear: both;}
ul.menu.horizontal { float: left; }
ul.menu.horizontal.right { float: right; }
ul.menu.horizontal:last, ul.menu.horizontal .last { clear: both; }
ul.fifty-fifty li { width: 50%;}
